Movim issues with Microblogging

- there is no "publisher" attribute in <item> element. While it's not mandatory, it's needed to check author's element. This not directly related to Movim, but to the pubsub service used (when available "publisher" attribute MUST be generated by the service). See XEP-0277 §9.1 and XEP-0060 §7.1.2.3
- there is no "text" content, while it's mandatory: XEP-0277 §2.3 says "If Romeo publishes XHTML content, his client MUST publish two "content" elements: a text one, and a XHTML one.".
- the content types breaks the XEP-0277: I have found "html" and "text/html", but says that only "xhtml" content is supported, beside of course the "text" one (see § 2.3.1)
- atom:id was missing in former post, but not in the last one, so I guess this one is fixed
- some contents have no atom:title elements (it seems to be the case with Movim comments), which break Atom RFC (see RFC 4287 §4.1.1 and XEP-0277 §2.3). If you don't want a title, which make sense for comments, you should put the message in the <title> element, and get rid of <content> element.
