Movim microblog items are sometime missing the required `title` element

Seen on this blog post: https://mov.im/?blog/debacle%40movim.eu/becfee62-11b9-4929-80d5-77cddaff4922
If you inspect the item, you get this XML:

```xml
<item xmlns="http://jabber.org/protocol/pubsub" id="becfee62-11b9-4929-80d5-77cddaff4922">
  <entry xmlns="http://www.w3.org/2005/Atom">
    <id>becfee62-11b9-4929-80d5-77cddaff4922</id>
    <author>
      <name/>
      <uri>xmpp:debacle@movim.eu</uri>
    </author>
    <link rel="alternate" href="xmpp:debacle@movim.eu?;node=urn:xmpp:microblog:0;item=becfee62-11b9-4929-80d5-77cddaff4922"/>
    <link rel="replies" href="xmpp:comments.movim.eu?;node=urn:xmpp:microblog:0:comments/becfee62-11b9-4929-80d5-77cddaff4922" title="comments"/>
    <link type="text/html" rel="alternate" href="https://mov.im/?blog/debacle%40movim.eu/becfee62-11b9-4929-80d5-77cddaff4922" title=""/>
    <content type="text"># [XMPP Novelties in Debian 11 Bullseye](https://xmpp-team.pages.debian.net/blog/2021/07/xmpp-novelties-in-debian-11-bullseye.html)

#xmpp #jabber #debian #bullseye #newinbullseye #ox #yearoftheox</content>
    <content type="xhtml">
      <div xmlns="http://www.w3.org/1999/xhtml">
        <h1>
          <a href="https://xmpp-team.pages.debian.net/blog/2021/07/xmpp-novelties-in-debian-11-bullseye.html">XMPP Novelties in Debian 11 Bullseye</a>
        </h1>
        <p>#xmpp #jabber #debian #bullseye #newinbullseye #ox #yearoftheox</p>
      </div>
    </content>
    <published>2021-07-14T06:45:20+00:00</published>
    <category term="xmpp"/>
    <category term="jabber"/>
    <category term="debian"/>
    <category term="bullseye"/>
    <category term="newinbullseye"/>
    <category term="ox"/>
    <category term="yearoftheox"/>
    <updated>2021-07-14T06:45:20+00:00</updated>
  </entry>
</item>
```

As you can see, the `<title/>` element is missing, which is illegal as per:
- [RFC 4287 §4.1.1](https://datatracker.ietf.org/doc/html/rfc4287#section-4.1.1):
  > atom:feed elements MUST contain exactly one atom:title element.
- [XEP-0277 §2.3](https://xmpp.org/extensions/xep-0277.html#publish):
  > Note: The "title" element is required to be included in an "atom:entry" element according to RFC 4287 [3].

This missing element may cause the item to be rejected by XMPP clients or atom feed parsers.

The post publication form requires you to fill a title, how did you bypass the test ?

Can't reproduce, please provide a proper way to do it and I'll reopen.

Actually I can reproduce, i'll investigate